<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>boimela</title>
    <%= javascript_include_tag :defaults %>
    <%= active_scaffold_includes %>
  </head>
  <body style="font-family:SolaimanLipi; font-size: 16px;">
    <%= yield %>  
  </body>
</html>